<ul class="rewrite">
  <%= form_tag("/posts/#{@post.id}/rewrite") do %>
    <li>Name</li>
    <li><input type="text" name="name" value="<%= @post.name %>"/></li>
    <li>Body</li>
    <li><textarea name="content"><%= @post.content %></textarea></li>
    <li><input type="submit" value="Send"/></li>
  <% end %>
</ul>
