// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  background-color: #fffcfc;
}

h1 {
  margin: 0;
}

.edit li {
  display: inline-block;
}

.topbar {
  background-color: #f99;
  width: 100vw;
  height: 50px;
  padding: 20px 50px;
}

textarea {
  resize: none;
}

#area {
  text-align: center;
}

#todo, #done {
  text-align: left;
  border: #ddd 1px solid;
  padding: 10px 20px;
  background-color: white;
}

.list {
  height: calc(100vh - 200px);
  overflow: scroll;
}

.todo-content, .done-content {
  border: #fee 10px solid;
  padding: 5px 10px;
}

.edit {
  border-top: #fee 1px solid;
  padding-top: 10px;
}

ul {
  -webkit-padding-start: 0;
}
