// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html body {
  background-color: #eef;
  font-family: 'Comfortaa', cursive;
}

#area {
  text-align: center;
}

#todo, #done {
  text-align: left;
  padding: 20px;
  background-color: white;
}

.list {
  height: calc(100vh - 200px);
  overflow: scroll;
}

.card pre {
    font-size: 100%;
}

.card .btn-warning {
  background-color: #fff;
}

.card .btn-success {
  background-color: #fff;
  color: rgb(33,37,41);
}


#area h2 {
  font-size: 25px;
  padding-left: 10px;
}
